POSTGRES_USER=centralize
POSTGRES_PASSWORD=3RKLJFo34ij5r34080IJEFONKCAou34h508hwefoinwergq3rfvwefq3f4546678
POSTGRES_DB=centralize_db
SOLANA_KEYPAIR_DIR=/home/soflib/.config/solana
RPC_URL=http://solana-validator:8899
PROGRAM_ID=AFEkWVEezVDdXCvEZajqoQUkLDuAXLEkD1Gry6B3MqcD